<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>destination</key>
	<string>export</string>
	<key>teamID</key>
	<string>4J9UJ9D537</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>38C9724FF9D31B4032E485FF244320B014372724</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.wisnu.tickdown</key>
		<string>TickdownSLATimer</string>
		<key>com.wisnu.tickdown.TickdownWidget</key>
		<string>TickdownWidgetSLA</string>
	</dict>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
